@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .fluid-container{
    @apply max-w-[1200px] mx-auto px-5
  }

  .card-bg{
    @apply p-6 bg-[#141414] border border-borderDark rounded-[32px] relative isolate overflow-hidden
  }
  .innerCard{
    @apply absolute bg-distortion top-0 bottom-0 right-0 left-0 -z-10 opacity-[0.06]
  }

  .imgCard{
    @apply flex items-end
  }

  .linkBg{
    @apply h-52 w-full opacity-0 absolute left-0 bottom-0 -z-10 transition duration-300 hover:opacity-70  
  }

}

.imgCard{
  isolation: isolate;
}

.linkBg + img{
  transform: scale(1.070);
  transition: 0.5s ease;
}

.linkBg:hover + img{
  transform: scale(1);
}

.linkBg{
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.bg-distortion{
  background-size: 64px;
}

.cardLinks{
 transform: translateY(25px);
 opacity: 0;
 transition: 0.5s ease;
 position: relative;
 z-index: 20;

}

.cardLinks svg{
  transform: rotate(270deg);
  transition: 0.5s ease;
}

.imgCard:hover .cardLinks{
   transform: translateY(0px);
   opacity: 1;
}

.imgCard:hover .cardLinks svg{
  transform: rotate(360deg);
}


.bg-distortion{
  background-size: 64px;
}
.do_best .swiper-pagination {
  bottom: 0px !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
  background: #1f1f1f;
  opacity: 1;
  z-index: 2;
  border-radius: 30px;
  padding-inline: 4px;
}
.do_best .swiper-pagination span.swiper-pagination-bullet {
  background: #fff;
}
.eternal .swiper-wrapper {
  transition-timing-function: linear !important;
}


input{
  /* appearance: none;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    padding: 20px 16px 20px 24px;
    border-radius: 16px;
    font-size: 16px;
    font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1em;
    text-align: left;
  color: #cccccc !important; */

 box-shadow: inset 0 0 0 0px rgb(102, 102, 102), rgb(138, 148, 158), inset 0 0 0 2px rgb(51, 51, 51), rgb(217, 219, 222) !important;
 background-color: rgba(20, 20, 20, 0);
 color:  rgb(102, 102, 102) !important;
}

input::placeholder{
  color:  rgb(102, 102, 102) !important;
}